@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* cursor: none; */
}

body {
    @apply bg-neutral-900 overflow-hidden;
}

/* CSS CURSOR*/
.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 999;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  @apply bg-primary
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(247, 230, 38, 0.2);
}

/* SCROOLBAR */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary 
}